<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>
    </queries>
    <application android:label="TapTop" android:icon="@mipmap/ic_launcher" android:theme="@style/Theme.TapTop" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ToggleShortcutActivity" android:exported="true"
            android:label="@string/shortcut_toggle" android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity="" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ScrollShortcutActivity" android:exported="true"
            android:label="@string/shortcut_scroll" android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity="" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TurnOnShortcutActivity" android:exported="true"
            android:label="@string/shortcut_turn_on" android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity="" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TurnOffShortcutActivity" android:exported="true"
            android:label="@string/shortcut_turn_off" android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity="" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".AutomationReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.taptop.app.action.TOGGLE" />
                <action android:name="com.taptop.app.action.TURN_ON" />
                <action android:name="com.taptop.app.action.TURN_OFF" />
                <action android:name="com.taptop.app.action.SCROLL_TO_TOP" />
            </intent-filter>
        </receiver>
        <service android:name=".TapTopTileService" android:exported="true"
            android:label="TapTop" android:icon="@drawable/ic_tile_taptop"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>
        <service android:name=".TopService" android:exported="true" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService"/></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service"/>
        </service>
    </application>
</manifest>
